<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ site.title }} : {{ site.description }}" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>{{ site.title }} - {{ page.title | capitalize }}</title>
  </head>

  <body>
	<div id="navigation">
		<ul class="menu">
			{% for node in site.navigable-pages %}
				<li id="{{ node.title }}{% if page.url == node.url %}_selected{% endif %}"><a href="{{ node.url }}"><span>#</span></a></li>
			{% endfor %}
		</ul>
	</div>

	<div id="content-container">
		<p>This is the {{ page.title }} page</p>
		<p>Debug Info:</p>
		<p>Site => {{ site | debug }}</p>
		<p>Page => {{ page | debug }}</p>
	</div>
	
	<div id="footer">  
		<p>Copyright &copy; {{ site.title }} | All Rights Reserved<br />tel:  {{ site.contact-no }}<br /></p>
		<p>
			{% for node in site.navigable-pages %}
				<a href="{{ node.url }}">{{ node.title | upcase }}</a>{% if forloop.last == false %} | {% endif %}
			{% endfor %}
		</p>
	</div>  
  </body>
</html>