<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="description" content="{{ site.title }} : {{ site.description }}" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <title>{{ site.title }} - {{ page.title | capitalize }}</title>
  </head>

  <body>
	
	{% include navigation %}

	<div id="content-container">
		<p>This is the {{ page.title }} page</p>
		<p>Debug Info:</p>
		<p>Site => {{ site | debug }}</p>
		<p>Page => {{ page | debug }}</p>
	</div>
	
	{% include footer %}
	
  </body>
</html>